.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
    width: 100%;
    z-index: 1;
}

.header_left > img {
    object-fit: contain;
    height: 40px;
}

.header_left{
    display: flex;
}

.header_search{
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 10px;
    border-radius: 6px;
    height: 22px;
    color: gray;
    background-color: #eef3f7;
}

.header_search > input{
    outline: none;
    background: none;
    border: none;
}

.header_right{
    display: flex;
}