.InputOptions{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    width: fit-content;
    justify-content: center;
    
}

.InputOptions:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}

.InputOptions > p{
    margin-left: 8px;
}